@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form name="form1" asp-controller="Home" enctype="multipart/form-data" asp-action="ProcessForm">
    <h2>Select Country :</h2>
    <div class="form-group">

        <input type="file" name="upload" id="file1" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

</form>


